<div>
  <h3>Gateway</h3>
  <form [formGroup]="gatewayForm" (ngSubmit)="onSubmit()">
    <label for="SerialNumber">Serial Number: </label>
    <input id="SerialNumber" type="text" formControlName="SerialNumber" required>

    <label for="FirmwareVersion">Firmware Version: </label>
    <input id="FirmwareVersion" type="text" formControlName="FirmwareVersion">

    <label for="State">State: </label>
    <input id="State" type="text" formControlName="State">

    <label for="IP">IP: </label>
    <input id="IP" type="text" formControlName="IP">

    <label for="Port">Port: </label>
    <input id="Port" type="number" formControlName="Port">

    <p>Complete the form to enable button.</p>
    <button type="submit" [disabled]="!gatewayForm.valid">Submit</button>
  </form>
</div>
